@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: navy;
}


#centreContainer {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: rgb(57, 194, 194);
    border: 5px solid rgb(57, 194, 194);
    border-radius: 20px;
    color: white;
}

#infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding-bottom: 5px;
}

#title {
    display: block;
    border-bottom: 2px solid #6B7280;
}

#weatherContainer {
    border: 3px solid purple;
    border-radius: 15px;
}

#locationnName {
    display: flex;
    justify-content: center;
}

#allWeatherContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.individualWeatherContainer {
    flex-grow: 1;
    margin: 5px;
    border: 2px solid navy;
    border-radius: 15px;;
    background-color: navy;
    text-align: center;
}

.individualWeatherContainer:hover {
    background-color: black;
}

#settings {
    text-align: center;
    color: navy;
}

#optionContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#locationnName {
    color: purple;
}

.tempUnit {
    cursor: pointer;

}